body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 300px;
    position: absolute;
    top: 30px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.imgbtn {
    background-color: transparent;
    border: 3px solid white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgbtn:hover {
    border-color: greenyellow;
    transition: border-color 0.5s ease;
}

.img {
    height: 40px;
}

.result, .picked, .js-score {
    margin: 10px 0;
}

.playbtn {
    background-color: aqua;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}

.playbtn:hover {
    background-color: gold;
    transition: background-color 0.5s ease;
}

.vid {
    max-width: 350px; /* Set the width of the video */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Add rounded corners */
    margin-top: 30px; /* Add some spacing */
    position: absolute;
    right: -30px;
    top: 370px;
}

@media (max-width: 600px) {
    .imgbtn {
        width: 60px;
        height: 60px;
    }

    .img {
        height: 30px;
    }

    .title {
        font-size: 20px;
    }
}
